.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    //justify-content: space-between;
    background-color: var(--white);
    border-bottom: 1px dashed #bec8d0;
}

.logo{
    width: 150px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;

    img{
        width: 100%;
        object-fit: contain;
    }
}

.menu{
    width: calc(100% - 150px);
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .list-menu{
        width: max-content;
        display: inherit;
        flex-flow: inherit;
        align-items: inherit;
        justify-content: inherit;
    }

    .item-menu{
        margin: 5px 5px;

        &.active {
            .arrow-menu{
                top: 14px;
                right: 12px;
                transform: rotate(90deg);
            }
        }
    }

    [data-submenu]{
        .link-menu{
            padding: 15px 50px 15px 20px;
        }

        &:hover{
            .submenu{
                padding: .8rem;
                max-height: unset;
                border: 1px solid var(--border-card-color);
            }   
        }
    }

    .link-menu{
        width: max-content;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        color: #5b6b79;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        border-radius: 8px;
        position: relative;
        margin: 0;
        transition: all ease 200ms;

        &.active{
            font-weight: 500;
            color: #fbbb21;   
            background-color: #E6EDFB;
            color: #fbbb21;
        }

        &:hover{
            background-color: #e8ebed;
        }

        .icon-menu{
            display: flex;
            margin-right: 15px;

            svg{
                width: 15px;
                height: 20px;
                stroke: #5b6b79;
                display: flex;
            }
        }

        .arrow-menu{
            position: absolute;
            top: 13px;
            right: 15px;
            transition: all ease 300ms;
            transform: rotate(90deg);

            svg{
                width: 20px;
                height: 20px; 
            }
        }
    }

    .submenu{
        max-height: 0;
        overflow: hidden;
        font-family: var(--inter);
        transition: all ease 300ms;
        color: #5b6b79;
        position: absolute;
        top: 85%;
        background: var(--white);
        border-radius: 8px;
        padding: 0 .8rem;
        border: 0 solid var(--border-card-color);

        &.active{
            max-height: unset;
        }

        &:hover{
            padding: .8rem;
            max-height: unset;
        }
    }

    button{
        cursor: pointer;
    }

    .sb-item{
        padding: .6rem .8rem;
        border-radius: 4px;

        &:last-child{
            margin: unset;
        }

        &:hover{
            background-color: #e8ebed8d;
        }
    }

    .sb-link{
        font-size: 15px;
        line-height: 21px;
        color: #5b6b79;
        font-weight: 400;
    }

    @media screen and (max-width: 1140px) {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0; left: -100%;
        background-color: #fff;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: all ease-in 400ms;

        .d-flex{
            padding: 1.5rem;
            flex-flow: column !important;
            align-items: flex-start !important;
        }

        .logout{
            padding: 1rem 0 0 0;
        }

        &.active{
            left: 0;
        }
    }
}

.language{
    position: relative;
    z-index: 1;
    margin: 0 1rem 0 0;

    .select{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        cursor: pointer;
        transition: all ease 100ms;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 17px;
            right: 0;
            width: 15px;
            height: 15px;
            background-image: url(/images/arrowDown.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .list{
        width: 50px;
        height: 67px;
        background-color: #fff;
        position: absolute;
        bottom: -180%;
        right: 0;
        transform: scale(0);
        border-radius: 4px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.05);
        transition: all ease 200ms;
        pointer-events: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        a{
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 5px 0;
            pointer-events: all;
            cursor: pointer;

            &:last-child{
                margin: 0;
            }
        }

        &.active{
            transform: scale(1);
        }

        @media screen and (max-width: 992px) {
            position: absolute;
            bottom: 0;
            right: -150%;
        }
    }
}

.logout{
    display: flex;
    align-items: center;
    padding: 14px 20px;
    color: #5b6b79;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 8px;
    position: relative;
    cursor: pointer;

    &.active{
        font-weight: 500;
        color: #fbbb21;   
        background-color: #E6EDFB;
        color: #fbbb21;
    }

    &:hover{
        background-color: #e8ebed;
    }

    .icon{
        margin-right: 15px;

        svg{
            width: 15px;
            height: 15px;
            display: inline-block;
            stroke: #5b6b79;
            transform: translateY(2px);
        }
    }
}

.d-flex{
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.hamburguer{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1.5rem;;
    right:  1.5rem;
    z-index: 1002;
    background-image: url(/images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all ease 200ms;

    &.active{
        background-image: url(/images/closeMenu.svg);
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}